<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	{% include 'google/google.html' %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'forest_app/img/favicon.ico' %}" type="image/x-icon"/>
	<title>Шаблоны красивых сайтов, выполненных с различными эффектами параллакса и 3d. C помощью swiper.js, gsap.js или на чистом css.</title>
	<link rel="stylesheet" href="{% static 'forest_app/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'forest_app/css/index.css' %}">
	<script src="{% static 'forest_app/js/app.js' %}" defer></script>
	<script src="{% static 'forest_app/libs/rain.js' %}" defer></script>
</head>
<body>

	<section class="layers">
		<div class="layers__container">
			<div class="layers__item layer1" style="background-image: url({% static 'forest_app/img/bg/bg4.jpg' %})"></div>
<!--			<div class="layers__item layer1">-->
<!--				<video src="{% static 'video/abstract_30fps.mp4' %}" class="video-background" autoplay loop muted></video>-->
<!--			</div>-->

			<div class="layers__item layer2">


					<a href="{% url 'natural_forest' %}" class="btn button1">
						<span class="button__line button__line--top"></span>
						<span class="button__line button__line--right"></span>
						<span class="button__line button__line--bottom"></span>
						<span class="button__line button__line--left"></span>
						Natural Forest
					</a>

				<a href="{% url 'fairy_forest' %}" class="btn button2">Fairy Forest</a>

				<div class="button3">
					<a href="{% url 'witcher' %}">Witcher pages</a>
				</div>

				<a href="{% url 'fire' %}" class="button4">
					<div class="button4__content">
						<span class="button4__text">Fire Animation</span>

						<div class="button4__shape-1"></div>
						<div class="button4__shape-2"></div>
						<div class="button4__shape-3"></div>
						<div class="button4__shape-4"></div>
					</div>

					<div class="button4__shadow"></div>
				</a>

				<div class="button5">
					<video src="{% static 'forest_app/video/240.mp4' %}" autoplay loop muted></video>
					<a href="#">Creative Scroll</a>
				</div>
			</div>

			</div>
				
		</div>

		<div class="layers__item layer4">
			<canvas class="rain"></canvas>
		</div>


	</section>
	
</body>