#header, .module caption, div.breadcrumbs, .module h2, input[type=submit].default {
    background: #12b6ed;
}
table thead th .text span{
    color: #d93beb;
}
a:link, a:visited, h1 {
    color: #d93beb;
}
.h1{
    color: #d93beb;
    font-weight: 600;
}
td img, .form-row img, video {
    transition: 1s ease;
}
td img:hover{
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 100;
/*    position: absolute;*/

}
.field-get_video:hover video{
    width: 100% !important;
    height: 100% !important;
}
.gallery {
    margin-right: 60px;
}