<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	{% include 'google/google.html' %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="{% static 'fire/libs/gsap/gsap.min.js' %}" defer></script>

	<script src="{% static 'fire/libs/swiper/swiper-bundle.min.js' %}" defer></script>
	<link rel="stylesheet" href="{% static 'fire/libs/swiper/swiper-bundle.min.css' %}">

	<link rel="stylesheet" href="{% static 'fire/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'forest_app/css/pagination.css' %}">
	<script src="{% static 'fire/js/app.js' %}" defer></script>

	<title>3d Анимация огня привязанная к скроллу мыши</title>
</head>
<body>

	<header>
		<a class="logo" href="#">
			<img src="../../static/fire/img/logo.svg" alt="alt">
		</a>

		<nav class="menu">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Projects</a></li>
				<li><span>Contacts</span></li>
			</ul>
		</nav>
	</header>

	<div class="swiper slider">

		<div class="swiper-wrapper">

			<div class="swiper-slide slide">
				<div class="slide__content">
					<h2>Abstract</h2>
					<p>Designing for the future</p>
					<button>Join Us</button>
				</div>
			</div>

			<div class="swiper-slide slide">
				<div class="slide__content">
					<h2>Design</h2>
					<p>Designing for the future</p>
					<button>Join Us</button>
				</div>
			</div>

			<div class="swiper-slide slide">
				<div class="slide__content">
					<h2>Future</h2>
					<p>Designing for the future</p>
					<button>Join Us</button>
				</div>
			</div>

			<div class="swiper-slide slide">
				<div class="slide__content">
					<h2>Forever</h2>
					<p>Designing for the future</p>
					<button>Join Us</button>
				</div>
			</div>

		</div>

		<div class="slider-bottom">
			<div class="slider-pagination">
				<div class="swiper-pagination"></div>
			</div>
			<div class="slider-navigation">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>

	</div>

	<a href="{% url 'index' %}">
		<button class="button-start home">На главную</button>
	</a>

	<!-- <div class="pag-container">
		{% if page.has_previous %}
			<div class="button-prev active"><a href="?page={{ page.previous_page_number }}"><</a></div>
		{% else %}
			<div class="button-prev disabled"><span><</span></div>
		{% endif %}

		{% if page.has_next %}
			<div class="button-next active"><a href="?page={{ page.next_page_number }}">></a></div>
		{% else %}
			<div class="button-next disabled"><span>></span></div>
		{% endif %} -->

<!--	</div>-->

	<!-- <video src="media/abstract.mp4" class="video-background" autoplay loop muted></video> -->

	<video src="{{ fire.video.url }}" class="video-background"  playsinline muted preload="auto"></video>

</body>
</html>