<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	{% include 'google/google.html' %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ page.0.layer2_header }} {{ page.0.layer2_title }}</title>
	<link rel="shortcut icon" href="{% static 'forest_app/img/favicon.ico' %}" type="image/x-icon">


	<link rel="stylesheet" href="{% static 'forest_app/css/pagination.css' %}">
	<link rel="stylesheet" href="{% static 'fairy_forest_app/css/main.css' %}">

	<script src="{% static 'fairy_forest_app/libs/gsap/gsap.min.js' %}" defer></script>
	<script src="{% static 'fairy_forest_app/libs/gsap/ScrollTrigger.min.js' %}" defer></script>
	<script src="{% static 'fairy_forest_app/libs/gsap/ScrollSmoother.min.js' %}" defer></script>

	<script src="{% static 'fairy_forest_app/js/app.js' %}" defer></script>

</head>
<body>

	{% include 'includes/pagination.html' %}
	{% include 'includes/button_home.html' %}
	
	<div class="wrapper">
		<div class="content">

			<header class="main-header">
				<div class="layers">
					<div class="layer__header">
						<div class="layers__title">{{ page.0.layer2_title }}</div>
						<div class="layers__header">{{ page.0.layer2_header }}</div>
					</div>
					<div class="layer layers__base" style="background-image: url({{ page.0.layer1.url }})"></div>
					<div class="layer layers__middle" style="background-image: url({{ page.0.layer3.url }})"></div>
					<div class="layer layers__front" style="background-image: url({{ page.0.layer4.url }})"></div>
				</div>
			</header>

			<article class="main-article" style="background-image: url({{ page.0.footer_bg.url }})">
				<div class="main-article__ground" style="background-image: url({{ page.0.footer_decor.url }})"></div>
				<div class="main-article__content">
					<h2 class="main-article__header">{{ page.0.footer_header }}</h2>
					<p class="main-article__paragraph">{{ page.0.footer_text }}</p>
						
				</div>
				<div class="copy">© WebDesign Master</div>
			</article>

		</div>
	</div>

</body>
</html>