/* * - глобально применить стили ко всем элементам */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root - корневой элемени, html */
:root {
  /* Отношение ширины экрана к высоте */
  --index: calc(1vw + 1vh);
  /* Кастомноя анимация */
  --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}

/*@font-face {*/
/*  font-family: kamerik-3d;*/
/*  src: url(../fonts/kamerik205-heavy.woff2);*/
/*  font-weight: 900;*/
/*}*/

/*@font-face {*/
/*  font-family: merriweather-italic-3d;*/
/*  src: url(../fonts/merriweather-regular-italic.woff2);*/
/*}*/

@font-face {
  font-family: kamerik-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}

@font-face {
  font-family: merriweather-italic-3d;
  src: url(../fonts/merriweather-regular-italic.woff2);
}

@font-face {
	font-family: saira-medium;
	src: url(../fonts/saira-extracondensed-medium.woff2);
	font-weight: 500;
}
@font-face {
	font-family: bauhaus;
	src: url(../fonts/bauhaus.woff2);
	font-weight: 400;
}
@font-face {
	font-family: popp;
	src: url(../fonts/Poppins-Regular.woff2);
	font-weight: 400;
}
@font-face {
	font-family: popp;
	src: url(../fonts/Poppins-SemiBold.woff2);
	font-weight: 600;
}

body {
  background-color: #000;
  color: #fff;
  font-family: kamerik-3d;
}

.logo {
  /*background-image: url(../img/logo.svg);*/
  --logo-size: calc(var(--index) * 7.8);
  width: var(--logo-size);
  height: var(--logo-size);
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - calc(var(--logo-size) / 2));
  top: calc(var(--index) * 2.8);
  z-index: 1;
}

.layers {
  /* Родительскому элементу (секции) устанавливаем свойство perspective */
  perspective: 1000px;
  /* Убираем ползунок, скрываем переполнение */
  overflow: hidden;
}

.layers__container {
  height: 100vh;
  min-height: 500px;
  /* Контейнеру прописываем свойство transform-style */
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  /* Указываем браузеру что донной странице нужно уделить больше аппаратных ресурсов, в значении свойства
     указываем какой параметр у нас динамически изменяется.*/
  will-change: transform;
  /* Анимация на transform и задержка. */
  transition: transform var(--transition);
}
.layers__item {
  position: absolute;
  /* vw - относительная единица ширины окна,vh - относительная единица высоты окна. (отступы са всех сторон)*/
  inset: -5vw;
  /* Чтобы внутренняя часть растягивалась */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layer1 {
  /*background-image: url(../img/layer-1.png);*/
  transform: translateZ(-55px) scale(1.06);
}
.layer2 {
  /*background-image: url(../img/layer-2.png);*/
  transform: translateZ(80px) scale(.88);
}
.layer3 {
  transform: translateZ(180px) scale(.8);
}
.layer4 {
  transform: translateZ(190px) scale(.9);
}
.layer5 {
  /*background-image: url(../img/layer-5.png);*/
  transform: translateZ(300px) scale(.9);
}
.layer6 {
  /*background-image: url(../img/layer-6.png);*/
  transform: translateZ(380px);
}
.hero-content {
  font-size: calc(var(--index) * 2.9);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  /* Растояние между символами */
  letter-spacing: calc(var(--index) * -.15);
  /* line-height - растояние между строками. 1em – текущий размер шрифта. */
  line-height: 1.35em;
  /* Привязываем margin-top к --index */
  margin-top: calc(var(--index) * 5.5)
}
.hero-content span {
  display: block;
}
.hero-content__p {
  text-transform: none;
  letter-spacing: normal;
  font-family: merriweather-italic-3d;
  font-size: calc(var(--index) * .73);
  /* line-height - растояние сверху */
  line-height: 3;
  font-weight: normal;
}
.button-start {
	font-family: Arial, serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
	background-color: transparent;
	color: #fff;
	opacity: 0.7;
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
	outline: none;
	cursor: pointer;
	margin-top: calc(var(--index) * 2.5);
	transition: .25s ease-out;
}
.button-start:hover {
	opacity: 1;
	border-color: #a6d518;
	box-shadow: 0 0 20px #d9d928;
	color: #a6d518;
}
.butt {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid #fff; */
	height: calc(var(--index) * 2);
	width: calc(var(--index) * 6);
	position: absolute;
	right: 20%;
	/* transform: translateX(250%); */
	bottom: calc(var(--index) * 9);
}

.layer4, .layer5, .layer6 {
  pointer-events: none;  /* Для взаимодействия со слоями ниже, отключаем события слоёв. */
}